@charset "UTF-8";

/*
No CSS, o "id" é o "#". (no HTML só pode usar uma "id").
No CSS, o "." é a "class". (no HTML pode usar várias "class").
O "id" sobrepõe as configurações de "class" no mesmo elemento.
*/

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 0, 190);
}

h1#principal{
    background-color: rgb(36, 112, 112);
    text-align: center;
    color: white;
}

.basico{
    color: rgb(10, 187, 4);
}

.intermediario{
    color: rgb(187, 184, 4);
}

.avancado{
    color: rgb(187, 4, 4);
}